body * {
  font-family: Helvetica Neue, Arial, sans-serif;
}


.enter-letter {
  width: 20px;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.yellow-letters {
  width: 100px;
  background-color: yellow;
  color: black;
  text-align: left;
  text-transform: uppercase;
}

.black-letters {
  width: 100px;
  background-color: black;
  color: white;
  text-align: left;
  text-transform: uppercase;
}

.yellow-letter {
  width: 50px;
  height: 50px;
  font-size: 26pt;
  background-color: goldenrod;
  color: white;
  text-shadow: black;
}

.green-letter {
  width: 50px;
  height: 50px;
  font-size: 26pt;
  background-color: forestgreen;
  color: white;
  text-shadow: black;
}

.black-letter {
  width: 50px;
  height: 50px;
  font-size: 26pt;
  background-color: black;
  color: white;
  text-shadow: black;
}