body {
  font-family: Helvetica Neue, Arial, sans-serif;
  background-color: white;
}

.reg-button {
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: gray;
  color: white;
  text-shadow: 1px 1px black;
}

table, tr, td {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
  text-align: center;
  vertical-align: top;
}

h1 {
  text-align: center;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

#instructions {
  background-color: gray;
  padding-left: 4px;
  padding-right: 4px;
}

.yellow-letter, .green-letter, .black-letter, .white-letter, .no-letter {
  width: 50px;
  height: 50px;
  font-size: xx-large;
  color: white;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
}

.yellow-key, .green-key, .black-key, .white-key {
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: small;
  font-style: bold;
  color: white;
  text-transform: uppercase;
}

.yellow-letter, .yellow-key {
  background-color: goldenrod;
}

.green-letter, .green-key {
  background-color: forestgreen;
}

.black-letter, .black-key {
  background-color: gray;
}

.white-letter {
  background-color: white;
  color: black;
  text-shadow: 0 0 black;
}

.white-key {
  background-color: lightgray;
  color: black;
}

.no-letter {
  background-color: white;
  color: white;
  text-shadow: 0 0 black;
}

ul {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
  text-align: left;
  background-color: gray;
  color: black;
  list-style-type: none;
  padding: 4px;
  margin: 0;
}