body * {
  font-family: Helvetica Neue, Arial, sans-serif;
}

div + div { 
  margin-top: 4px;
}

.yellow-letter, .green-letter, .black-letter, .white-letter, .no-letter {
  width: 50px;
  height: 50px;
  font-size: 26pt;
  color: white;
  text-shadow: black;
  text-transform: uppercase;
}

.yellow-key, .green-key, .black-key, .white-key {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12pt;
  font-style: bold;
  color: white;
  text-shadow: black;
  text-transform: uppercase;
}

.yellow-letter, .yellow-key {
  background-color: goldenrod;
}

.green-letter, .green-key {
  background-color: forestgreen;
}

.black-letter, .black-key {
  background-color: #444;
}

.white-letter, .white-key {
  background-color: lightgrey;
  color: black;
}

.no-letter {
  background-color: lightgrey;
  color: lightgrey;
  text-shadow: lightgrey;
}